
.login__link{
    background: #2A7AE4;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.75rem 1.75rem;
}
.login__link:hover{
    font-size: 1.35rem;
    transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 0px){
    .header__login{
        width: 0;
    }
}
@media screen and (min-width: 768px){
    .header__login{
        width: 10rem;
    }
}